.background {
    background-color:#EEEEEE
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 239.13px;
    width: 425.33px;
    background-color: #ffffff;
    position:relative
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.circle {
width: 120px;
height: 120px;
background-color:rgb(189, 25, 24);
border-radius: 50%;
flex-direction: column;
position: absolute;

    
}